* {
  margin: 0;
  padding: 0;
  font-family: "Hedvig Letters Sans", sans-serif;
  box-sizing: border-box;
}
.container {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(180deg, #cc96b8, #c2d84b);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  width: 400px;
  min-height: 100vh;
  border: 2px solid white;
  background-color: white;
  color: black;
}
.nav {
  /* border: 2px solid black; */
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 4px;
}
.img {
  height: 40px;
  width: 40px;
}
#task {
  height: 38px;
  border: none;
  margin: 4px;
  width: 330px;
  border: none;
  outline: none;
}

.btn {
  height: 30px;
  width: 40px;
  border-radius: 18px;
  background-color: #346fe1;
  color: white;
}
.footer {
  padding-left: 4px;
  /* padding: auto; */
  border: 2px solid red;
  border-radius: 14px;
}
.content {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  /* border: 2px solid blue; */
}
.tick {
  height: 30px;
  width: 30px;
}
